---
layout: default
title: Home
---

<h1>Links</h1>

<div class="links">
{% for page in site.categories.to_read %}
  <a class="link" href="{{ site.baseurl }}{{ page.url }}" target="_blank">
    <h3 class="link-title">{{ page.title }}</h3>
    <p class="link-description">{{ page.description }}</p>
    <p class="link-url">{{ page.link }}</p>
    <p class="link-date">Saved on {{ page.date | date: "%Y-%m-%d" }}</p>
    <p class="reading-time">{% include reading-time.html %}</p>
  </a>
{% endfor %}
</div>

<h2>Archive</h2>

<div class="links">
{% for page in site.categories.archive %}
  <a class="link" href="{{ site.baseurl }}{{ page.url }}" target="_blank">
    <h3 class="link-title">{{ page.title }}</h3>
    <p class="link-description">{{ page.description }}</p>
    <p class="link-url">{{ page.link }}</p>
    <p class="link-date">Saved on {{ page.date | date: "%Y-%m-%d" }}</p>
  </a>
{% endfor %}
</div>
