---
layout: default
title: Home
---


<nav>
{% for cat in site.categories reversed %}
  {% assign category_name = cat[0] %}
  {% assign category_links = cat[1] %}

  <a href="#{{ category_name }}">{% include functions/title-case.html text=category_name %} ({{ category_links | size }})</a>
  {% unless forloop.last %}&middot;{% endunless %}
{% endfor %}
</nav>


<input class="group-by-radio" type="radio" name="group-by" id="group-by-year">
<label class="group-by-label" for="group-by-year">Year</label>

<input class="group-by-radio" type="radio" name="group-by" id="group-by-month">
<label class="group-by-label" for="group-by-month">Month</label>

<input class="group-by-radio" type="radio" name="group-by" id="group-by-date" checked>
<label class="group-by-label" for="group-by-date">Date</label>

{% include category-links.html category_name='to_read' %}

{% include category-links.html category_name='archive' %}


<script src="{{ site.baseurl }}/public/js/lib/github.js"></script>
<script src="{{ site.baseurl }}/public/js/repo.js"></script>
