body { 
  font-family: Georgia;
  font-size: 20px;
  color: #555;
  line-height: 1.7;
  padding: 2em 10px;
}

body > article {
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }

  body > article {
    max-width: 500px;
  }
}

body > article > header {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
}

body > article > footer {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  border-top: 1px solid #eee;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #999;
  text-align: center;
  font-weight: normal;
}

a[href] { color: #6a9fb5; text-decoration: none; }
a[href]:hover { border-bottom: 1px solid; }
img { max-width: 100%; height: auto; display: block; margin: 0 auto; text-align: center }
iframe { max-width: 100%; display: block; margin: 1em auto; background-color: #eee; }
pre { padding: 1em; background: #eee; font-size: 14px; overflow: auto; }
blockquote { border-left: 5px solid #ddd; margin-left: 0; padding-left: 1em; }
#html-content { width: 100%; display: block; height: 300px; }

.center {
  text-align: center;
}

figcaption {
  font-size: .8em;
  text-align: center;
  color: #999;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6a9fb5;
  height: 2px;
}

.gh-post-actions {
  color: #ccc;
}

.reading-time {
  font-size: .9em;
}

body:not(.gh-acquirer) .gh-only-acquirer {
  display: none;
}

.gh-acquirer .gh-not-acquirer {
  display: none;
}

.gh-saving .gh-save {
  display: none;
}

.gh-archiving .gh-archive {
  display: none;
}

.gh-move {
  padding: .5em;
  background: #6a9fb5;
  color: white !important;
  border-radius: 4px;
  margin-left: .5em;
  margin-right: .5em;
}


.modal-wrap {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 100%;
  background: none;
  padding-top: 2em;
  padding-left: 10px;
  padding-right: 10px;
  transition: .3s top, .3s background;
}

.modal-wrap.open {
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
}

.modal {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.modal input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: .3em;
}

.gh-logout {
  display: none;
}

.logged-in .gh-login {
  display: none;
}

.logged-in .gh-logout {
  display: inline;
}

body {
  padding: 0;
}

.post {
  margin-left: 0;
  margin-right: 0;
  max-width: initial;
}

.post header {
  margin-bottom: 0;
}

p.center {
  text-align: left;
}

.post header h1,
.gh-post-actions,
main > *,
header > a,
footer > p > a {
  display: block;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  display: none;
}

main {
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
}

main h1:first-of-type {
  margin-top: 0;
}

.gh-move {
  margin-left: 0;
}

@media screen and (max-width: 800px) {
  header,
  main,
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}