* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.link {
  display: block;
  color: #333;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 42px;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  background: 10px center no-repeat;
}

.link > :last-child {
  margin-bottom: 0;
}

.link-title {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 1.2em;
  color: #6a9fb5;
}

.link-url,
.link-date {
  color: #999;
  font-size: .9em;
  font-variant: small-caps;
}

.link-url {
  width: 100%;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-target-category] {
  opacity: .5;
}

[data-target-category]:before {
  content: 'Moving to ' attr(data-target-category);
  color: #999;
}

h1 {
  text-align: center;
  color: #999;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
  color: #ccc;
  font-weight: normal;
}

.category-meta {
  font-size: .6em;
  color: #ccc;
}

a[href] { 
  color: #6a9fb5; 
  text-decoration: none; 
}

nav {
  text-align: center;
}


.group-by-radio {
  display: none;
}

.group-year,
.group-month,
.group-date {
  display: none;
}

.group-by-label {
  border-bottom: 0 solid #555;
  cursor: pointer;
  padding: .3em .5em;
  display: inline-block;
}

.group-by-radio:checked + .group-by-label {
  border-bottom-width: 3px;
}

#group-by-year:checked ~ section .group-year {
  display: block;
}

#group-by-month:checked ~ section .group-month {
  display: block;
}

#group-by-date:checked ~ section .group-date {
  display: block;
}

body {
  background: #eee;
}

.link {
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  margin-bottom: 1px;
  background: 22px center no-repeat;
  background-color: #fff;
  padding-left: 62px;
}

.group-year, .group-month, .group-date {
  margin-top: 2em;
/*  padding-left: 2.5em;*/
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  text-align: initial;
}

.link {
  transition: .2s all;
}

.link:hover {
  box-shadow: 0 6px 20px rgba(0,0,0,.2);
  z-index: 1000;
}

.link-title {
  color: #555;
  transition: .2s color;
}

.link:hover .link-title {
  color: #6a9fb5;
}


/** article view **/
body {
  padding: 0;
}

.post {
  margin-left: 0;
  margin-right: 0;
  max-width: initial;
}

.post header {
  margin-bottom: 0;
}

p.center {
  text-align: left;
}

.post header h1,
.gh-post-actions,
main > *,
header > a,
footer > p > a {
  display: block;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  display: none;
}

main {
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
}

main h1:first-of-type {
  margin-top: 0;
}

.gh-move {
  margin-left: 0;
}

@media screen and (max-width: 800px) {
  header,
  main,
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}