* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #eee;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.link {
  display: block;
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #333;
  padding: 2em;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.link > :last-child {
  margin-bottom: 0;
}

.link-title {
  margin-top: 0;
  font-size: 1.2em;
  color: #6a9fb5;
}

.link-url,
.link-date {
  color: #ccc;
  font-size: .9em;
}

.link-url {
  width: 100%;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  text-align: center;
  color: #999;
  margin-top: 2em;
  margin-bottom: 2em;
}