{% assign category_name = 'to_read' %}
{% if include.category_name %}
  {% assign category_name = include.category_name %}
{% endif %}


{% assign time_to_read = 0 %}
{% for page in site.categories[category_name] %}
  {% capture current_time %}{% include functions/reading-time.val %}{% endcapture %}
  {% capture current_time %}{{ current_time | plus: time_to_read }}{% endcapture %}
  {% assign time_to_read = current_time %}
{% endfor %}



<section class="category-links {{ category_name }}" id="{{ category_name }}">

  <h1>
    {% include functions/title-case.html text=category_name %}
    <span class="category-meta">
      {{ site.categories[category_name] | size }} links
      &middot;
      {{ time_to_read }} min
    </span>
  </h1>

  <div class="links">

  {% for page in site.categories[category_name] %}
    {% capture pageyear %}{{ page.date | date: "%Y" }}{% endcapture %}
    {% if pageyear != lastyear %}
      <h2 class="group-year">{{ pageyear }}</h2>
      {% assign lastyear = pageyear %}
    {% endif %}


    {% capture pagemonth %}{{ page.date | date: "%Y %B" }}{% endcapture %}
    {% if pagemonth != lastmonth %}
      <h2 class="group-month">{{ pagemonth }}</h2>
      {% assign lastmonth = pagemonth %}
    {% endif %}


    {% capture pagedate %}{{ page.date | date: "%Y %B %d" }}{% endcapture %}
    {% if pagedate != lastdate %}
      <h2 class="group-date">{{ pagedate }}</h2>
      {% assign lastdate = pagedate %}
    {% endif %}


    <a class="link post" href="{{ site.baseurl }}{{ page.url }}" data-path="{{ page.path }}" data-category="{{ page.categories[0] }}" style="background-image: url('//www.google.com/s2/favicons?domain={{ page.link }}')">
      <img class="link-icon" src="https://www.google.com/s2/favicons?domain={{ page.link }}" loading="lazy" width="16" height="16">
      <h3 class="link-title">{{ page.title }}{% unless page.title %}{% assign parts = page.url | split:'/' %}{% assign size = parts.last | size | minus: 11 %}{{ parts.last | slice: 11, size | replace: '-', ' ' | capitalize }}{% endunless %}</h3>
      <p class="link-url">
        <span class="gh-read-time">{% include reading-time.html %}</span>
        &middot;
        {% include functions/url-host.html url=page.link %}
      </p>
    </a>

  {% endfor %}
  </div>

</section>
