    <title>{{ page.title}}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/categories.css">

    <link rel="icon" href="{{ site.baseurl }}/public/favicon/favicon-32.png" sizes="32x32">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/public/favicon/favicon-152.png">
    
    <!-- last build: {{ site.time }} -->
