        <div class="gh-post-actions">
          
          <p class="center">
            <a class="gh-save gh-only-acquirer" href="#">Save article</a>
            <span class="gh-not-acquirer">
            {% for category in site.categories %}
              {% assign category_name = category[0] %}
              {% include buttons/move.html category=category_name %}
            {% endfor %}
              {% include buttons/delete.html %}
            </span>
            &middot;
            <a class="gh-login" href="javascript:void(0)">Log in</a>
            <a class="gh-logout" href="javascript:void(0)">Log out</a>
          </p>

          <p>
            <span class="reading-time">{% include reading-time.html text=page.content %}</span>
            &middot;
            <a class="view-original" href="{{ page.link }}">View original</a>
            &middot;
            <span class="original-url">{% include functions/url-host.html url=page.link %}</span>
          </p>
          
          
        </div>