        <div class="gh-post-actions">
          <span class="gh-only-acquirer">
            <a class="gh-save" href="#">Save article</a>
            &middot;
          </span>
          <a class="view-original" href="{{ page.link }}">View original</a>
          <span class="gh-not-acquirer">
            &middot;
            {% include buttons/delete.html %}
          {% for category in site.categories %}
            {% assign category_name = category[0] %}
            &middot;
            {% include buttons/move.html category=category_name %}
          {% endfor %}
            &middot;
            <a class="gh-login" href="javascript:void(0)">Log in</a>
            <a class="gh-logout" href="javascript:void(0)">Log out</a>
          </span>
          &middot;
          <span class="reading-time">{% include reading-time.html text=page.content %}</span>
        </div>