<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/post.css">
  </head>
  <body>
    <article>
      <header>
        <h1>{{ page.title }}</h1>
        <a href="{{ page.link }}">View original</a>
        &middot;
        <a href="https://github.com/{{ site.ghuser }}{{ site.baseurl }}/delete/gh-pages/{{ page.path }}">Delete</a>
        &middot;
        <a href="https://github.com/{{ site.ghuser }}{{ site.baseurl }}/edit/gh-pages/{{ page.path }}?filename=../{{ page.path | replace '_posts', '_archive' }}">Delete</a>
      </header>

      {{ content }}
    </article>
  </body>
</html>