<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/post.css">
  </head>
  <body>
    <article>
      <header>
        <a href="{{ site.baseurl }}/">&#8592; back to articles</a>
        <h1>{{ page.title }}</h1>
        {% include post-actions.html %}
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        {% include post-actions.html %}

        {% assign all_posts = site.categories[page.category] %}
        {% include functions/next-post posts=all_posts post=page %}
        {% if next_post %}
        <p>Read next: <a href="{{ site.baseurl }}{{ next_post.url }}">{{ next_post.title }}</a></p>
        {% endif %}

        <p><a href="{{ site.baseurl }}/">&#8592; back to articles</a></p>
      </footer>
    </article>


    <div class="modal-wrap login-form">
      <div class="modal">
        <h2>Log in with GitHub account</h2>
        <p>Create a token at your <a href="https://github.com/settings/tokens/new?scopes=public_repo%2Crepo&description=Gitlinks%20access%20token" target="_blank">GitHub settings page</a> and paste it in the text field below</p>
        <p>
          <input class="gh-token" placeholder="Personal access token">
        </p>
        <p>
          <button class="modal-ok login">Log in</button>
          <button class="modal-cancel">Cancel</button>
        </p>
      </div>
    </div>


    <script>
      {% include scripts/progress-bar.js %}
    </script>
    <script src="{{ site.baseurl }}/public/js/lib/github.js"></script>
    <script src="{{ site.baseurl }}/public/js/util.js"></script>
    <script src="{{ site.baseurl }}/public/js/bookmarklet.js"></script>
    <script src="{{ site.baseurl }}/public/js/lib/emitonoff.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/link.js"></script>
    <script src="{{ site.baseurl }}/public/js/view/LinkActions.js"></script>
    <script src="{{ site.baseurl }}/public/js/view/modal.js"></script>
    <script src="{{ site.baseurl }}/public/js/view/login.js"></script>
    <script src="{{ site.baseurl }}/public/js/repo.js"></script>
    <script src="{{ site.baseurl }}/public/js/view/buttons/button-delete.js"></script>
    <script src="{{ site.baseurl }}/public/js/view/buttons/button-move.js"></script>
    <script src="{{ site.baseurl }}/public/js/view/buttons/button-login.js"></script>
    <script>
      var link = Link({{ page | jsonify }});
    </script>
  {% if page.title == 'Acquire' %}
    <script src="{{ site.baseurl }}/public/js/lib/DOMasSAX.js"></script>
    <script src="{{ site.baseurl }}/public/js/lib/readabilitySAX.js"></script>
    <script src="{{ site.baseurl }}/public/js/lib/resolve-url.js"></script>
    <script src="{{ site.baseurl }}/public/js/acquirer.js"></script>
  {% else %}
    <script>
      var postActions = document.querySelectorAll('.gh-post-actions');
      for (var i = 0; i < postActions.length; i++) {
        linkActions(postActions[i], link);
      }
    </script>
  {% endif %}
  </body>
</html>