{% assign words = page.content | append: ' ' | append: page.title | append: ' ' | append: page.description | strip_html | strip_newlines | downcase | slugify | split:'-' %}
{{ words | join: ' ' }}{% comment %}
{% assign total = ' ' %}
{% for word in words %}
  {% assign word_size = word | size %}
  {% if word_size > 2 %}
    {% assign word_i = ' ' | append: word | append: ' ' %}
    {% unless total contains word_i %}
      {% assign total = total | append: word | append: ' ' %} 
    {% endunless %}
  {% endif %}
{% endfor %}
{{ total }}
{% endcomment %}